language: go
sudo: false
go:
- 1.11.x

stages:
- test
- name: deploy
  if: branch = master

jobs:
  include:
  - stage: test
    install: true
    script:
    - go test ./... -coverprofile=coverage.out -covermode=atomic -p=1
    after_success:
    - bash <(curl -s https://codecov.io/bash)
  - stage: deploy
    services: docker
    install: true
    script:
    - docker run -it -e JENKINS_AUTH_TOKEN=$JENKINS_AUTH_TOKEN -e JENKINS_BUILD_TOKEN=$JENKINS_BUILD_TOKEN
      -e JENKINS_BUILD_PROJECT=$TRAVIS_REPO_SLUG -e JENKINS_BUILD_BRANCH=$TRAVIS_BRANCH
      p1hub/p1jenkinstrigger

notifications:
  slack:
    secure: njm51LeYsjNirmw8hrVmgIejDmXGkJxX5j4Ia4JjOf0HWTHlgmrP9AOqm7O0sp3Lpew2ndwXGoYfFB70hbRpJoewdo4YpO1Ttp8EgB1IJTeddLmWJaifDKpnNNcPP/ejQVPsmIZN9P3+bJ9vxATgm6uIo7yBoQS8naIckQjiigyamKA+WqA2nuDemzqtsfwxDz6G7qTHiohV0vTWN/q2gNs/uxihw2Rlsx+DtmLYp7SnmaiwBLY+27Kvami5XN4D2MOANLSsVTzEjh8T3GLWmyMQisTCb46hpHERDpCTltkWMqPNtW/mJNXZ2C2hpax61RrM1HfLrp7+frUEMp7InPkWoOxlLuUxKmGmLSfEDDJUoOGgO+PlaoiTdEo8w3lVd4at+gzZS/CnHncvcUzb/+xNLTDKlaeZCwujNwilL4rBdsM66AqywbOJKbhqTBpSgACNh885qR2ukgMRJE/z09xCeOyfOEm5B5PLSJtjX62JcZL+h3dZrUvgJmV676DXkPokvEVuWkbCRJmsoyxY5eQeESnHDRf7P7UjlgQCkL0/2BEDH6SfrMYtMNrIhenlaxmVsSR2qXzaQOOlNUiBzqudkP5qlIV7S9JX9pEGuTTvubK9LJNF30r4313JPRHbDNC4WIRcu43L8a58DjKUgqqjBsbV0z4Ovmy3gGj4Dfo=
